*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:none;
}

@font-face {
    font-family: 'plain-light';
    src: url(./fonts/plain-light-webfont.woff);
}

@font-face {
    font-family: 'plain-regular';
    src: url(./fonts/plain-regular-webfont.woff);
}

@font-face {
    font-family: 'silk-serif';
    src: url(./fonts/silkserif-lightitalic-webfont.woff);
}

@font-face {
    font-family: 'silk-serif-regular';
    src: url(./fonts/silkserif-regularitalic-webfont.woff);
}


html, body{
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: #151514;
    /* cursor: none; */
    -ms-overflow-style: none;
    scrollbar-width: none;
}



.mousefollower {
    border: 2px solid #fff;
    background-color: rgb(255, 255, 255);
    mix-blend-mode: difference;
}

.cursor{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    border: 2px solid #ffffff75;
    position: absolute;
}

#loader{
    height: 100vh;
    width: 100%;
    background-color: #0b0b0b;
    position: fixed;
    z-index: 999;
}

#loader .loader-text{
    padding: 15vh 5vw;
}

#loader .line{
    text-transform: uppercase;
    display: flex;
    align-items: start;
    gap: 1.7vw;
    overflow: hidden;
    /* background-color: red; */

    &:first-of-type{
     gap: 6vw;
    }

    .line1-part1{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 2.7vw;
        gap: 1vw;
    }

    h1{
        font-size: 7vw;
        line-height: 7.2vw;
        font-family: 'plain-light';
        font-weight: 900;
    }

    h4{
        font-size: 3.2vw;
        font-family: 'silk-serif';
        font-weight: 100;
        width: 6vw;
        display: flex;
        justify-content: flex-end;
    }

    h5{
        font-size: 3.2vw;
        font-family: 'silk-serif';
        font-weight: 100;
    }
    
    h2{
        font-size: 7.2vw;
        line-height: 7.5vw;
        font-family: "plain-light";
        opacity: 0;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
}

@keyframes animatetext {
    0%{
        opacity:1;
        font-family: "plain-light";
        font-weight: 900;
        color: #fff;
    }
    48%{
        opacity: 0;
        font-family: "plain-light";
        font-weight: 900;
        color: #fff;
    }
    50%{
        opacity: 1;
        font-family: "silk-serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 100;
        color: transparent;
    }
    100%{
        opacity: 0;
        font-family: "silk-serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 100;
        color: transparent;
    }
}



.page1{
    height: 100vh;
    width: 100%;
    background-color: #151514;
}

.page1 nav{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 3.36vw 4.2vw;
}

.nav-part-1{
    width: 31%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.nav-part-1 .svg-div{
    display: flex;
    align-items: center;
    margin-left: 1vw;
    gap: 2.5vw;
}

.page1 nav h4{
    width: 15%;
    font-size: 0.98vw;
    line-height: 1.05vw;
    font-family:"plain-light";
    font-weight: 500;
}

.nav-part-2{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2.5vw;
}

.nav-part-2 h5{
    font-size: 0.98vw;
    font-family:"plain-light";
    font-weight: 500;
}

.hero{
    margin-left: 28%;
    height: fit-content;
    width: fit-content;
    overflow-x: auto;
    overflow-y: hidden;
}

.hero:first-of-type{
    padding-top: 5vw;
}

.hero h1{
    font-size: 7.45vw;
    line-height: 7.45vw;
    font-family:"plain-light";
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

#hero1::before{
    content:"01";
    font-size: 3.2vw;
    font-family: "silk-serif";
    position: absolute;
    left: 18.5%;
}

#hero3 h1{
    padding-bottom: 1vw;
}

/* #hero3 h1 span{
    transition: all 0.5s;
} */

#hero3 h1 span:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    transition: all 0.5s;

}


#hero3 h1 span:hover::after{
    opacity: 0;
}

#hero3 h1 span:first-of-type{
    position: relative;
    padding-bottom: 1vw;

    &::after{
        content: " ";
        height: 14%;
        width: 100%;
        position: absolute;
        left: 0%;
        bottom: 0%;
        background-color: #fff;
    }
}

#hero3 h1 span:last-of-type{
    position: relative;
    padding-bottom: 1vw;
    padding-left: 1.5vw;

    &::before{
        content: "/";
        position: absolute;
        left: -5%;
        color: white;
        font-weight:600;
        -webkit-text-stroke: 0;
    }

    &::after{
        content: " ";
        height: 14%;
        width: 100%;
        position: absolute;
        left: 0%;
        bottom: 0%;
        background-color: #fff;
    }
}


.page2{
    min-height: 100vh;
    width: 100%;
    background-color: #151514;
    padding: 15vw 0;
    position: relative;
}

.page2 .vid-wrapper{
    position: relative;
}

.page2 .video-container{
    height: 35vw;
    width: calc(100%-28%);
    margin-left: 28%;
    overflow: hidden;
    position: relative;
}

.page2 .video-button{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    left: 80%;
    top: 0%;
    transform: translate(-50%,-50%);
    background-color: #ffa73c;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    i{
        font-size: 2.7vw;
    }
}

.page2 .video-img{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.page2 video{
    width: 100%;
    object-fit: cover;
    background-position: center;
}


.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151514;
    overflow: hidden;
    /* background-color: rgb(249, 141, 141); */
}


.page-title {
    padding-left: 18%;
    margin-right: 5%;
    display: flex;

    .title-wrap{
        width: 100%;
        margin-left:8%;
        overflow: hidden;
    }
    
    .heading{
        overflow: hidden;
    }

    h5{
        display: inline-block;
        font-size: 3.2vw;
        font-family: "silk-serif";
        line-height: 4vw;
    }

    h3{
        display: inline-block;
        font-size: 7.2vw;
        font-weight: 600;
        font-family:"plain-light";
        text-transform: uppercase;
        line-height: 7.2vw;
        padding-left: 0.2vw;
    }
}

.underline{
    margin-top: 6vw;
    height: 0.1vw;
    width: 100%;
    background-color: #fff;
}

.page3 .projects{
    min-height: 100vh;
    padding: 5vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* margin: 2vw; */
    margin-top: 12vh;
}


.projects .image-div-1, .image-div-2, .image-div-3, .image-div-4{
    position: relative;
    flex-shrink: 0;
    height: 29vw;
    width: 23vw;
    overflow: hidden;
    margin-right: 2vw;

    img{
        height: 100%;
        width: 100%;
        object-fit:cover;
        object-position: center;
    }
}

.projects .image-div-1{
    height: 29vw;
    width: 23vw;
}

.projects .image-div-2{
    height: 39vw;
    width: 32vw;
}

.projects .image-div-3{
    margin-top: 29vh;
    height: 39vw;
    width: 31vw;
}

.projects .image-div-4{
    margin-right: 0vw;
    margin-top: 10vh;
    height: 39vw;
    width: 32vw;
}


/* 
.image-div{
    position: relative;
    flex-shrink: 0;
    height: 29vw;
    width: 23vw;
    overflow: hidden;
    margin-right: 2vw;
    height: 29vw;
    width: 23vw;
    margin-top: 5vw;

    img{
        height: 100%;
        width: 100%;
        object-fit:cover;
        object-position: center;
    }
} */


._canvas_container{
    z-index: 99999 !important;
    pointer-events: none;
}

.page3-circle1{
    height: 23vw;
    width: 23vw;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48vh;
    margin-left: 8vw;
}

.page3-circle1 svg{
    height: 33%;
}


.page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw 2vw 2vw 0;
}

.page3-circle2 svg{
    height: 33%;
    transform: rotate(-50deg);
}

.project-btn{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .all-projects-btn{
        height: 23vw;
        width: 23vw;
        background-color: #ffa73c;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        h3{
            font-size: 1vw;
            font-weight: 500;
            font-family: "plain-regular";

            span{
                font-family: "silk-serif";
                font-weight: 400;
            }
        }
    }

}



.page4{
    min-height: 250vh;
    width: 100%;
    background-color: #151514;

    .page4-content{
        margin-left: 28%;
        margin-right: 5%;
        width: calc(100%-28%);
        position: relative;
        overflow: hidden;

        >p{
            width: 50%;
            font-family: "plain-light";
            font-weight: 400;
            font-size: 2.25vw;
            padding: 3.5vw 0;
        }

        .page4-flex{
            width: 100%;
            display: flex;
            align-items: start;
            gap:2.5vw;


            .img-div{
                width: 45%;
                overflow: hidden;
                flex-shrink: 0;

                img{
                    height: 100%;
                    width: 100%;
                    scale:1.1;
                    object-fit:cover;
                    object-position: right;
                }
            }

            p{
                width: 50%;
                font-size: 1.01vw;
                line-height: 1.5vw;
                margin-top:-.3vw;
                font-family: "plain-regular";

                &:nth-of-type(2){
                    margin-top:1.5vw;
                }
            }
        }


        .awwwards{
            width: 34vw;
            background-color:#3f7df4;
            position: relative;
            margin-top: -20%;
            margin-left: 32%;
            

            .award-content{
                padding: 4vw 4vw 5vw 4vw;

                .award{
                    display: flex;
                    align-items: start;
                    justify-content: space-between;
                    padding: 2.5vw 0;
                    border-bottom: 1px solid #fff;

                    h4{
                        width: 60%;
                        font-family: "plain-light";
                        font-weight: 500;
                        font-size: 1.5vw;
                    }

                    p{
                        width: 40%;
                        font-size:1vw;
                        font-family: "plain-light";
                        font-weight: 400;
                    }
                }
            }
        }
    }
}


.page5{
    /* min-height: 120vh; */
    background-color: #151514;
    position:relative;

    .page5-top{
        margin-left: 28%;
        margin-right: 5%;
        overflow:hidden;

        .page5-para{
            font-size: 1vw;
            font-family: "plain-light";
            padding: 1.5vw 0;
        }
    }

    .page5-content{
        overflow: hidden;
        padding: 5vw 0 15vw 0;
        /* background-color: blue; */
        position:relative;

        .marquee{
            display: flex;
            white-space: nowrap;

            h2{
                flex-shrink: 0;
                font-size: 8vw;
                line-height: 8.5vw;
                font-family: "plain-light";
                font-weight: 400;
                text-transform: uppercase;
                color: transparent;
                -webkit-text-stroke: 1px #fff;
                /* background-color: red; */

                &:last-of-type{
                    /* background-color: blue; */
                }

                /* span{
                    font-family: "silk-serif";
                    font-size: 7.8vw;
                } */
            }
        }

        #marquee-1 h2, #marquee-3 h2{
            animation: marqueeanim 20s linear infinite;
        }

        #marquee-2 h2, #marquee-4 h2{
            animation: marqueeanim 20s linear infinite reverse;
        }
    }
}

.page6{
    min-height: 98vh;

    .heading h3{
        font-family: "plain-light";
    }

    .footer-wrapper{
        margin-left: 28%;
        margin-right: 5%;
        overflow:hidden;
        display: flex;
        align-items: start;
        justify-content: space-between;
        width:calc(100%-28%);
        padding: 7vw 0;
    }

    .footer-det{
        width: 30%;
        
        p{
            font-size: 1vw;
            font-weight: 500;
            font-family: "plain-regular";
        }
        .footer-info{
            padding-top: 1.5vw;
        }

        h3{
            font-size: 1.7vw;
            line-height: 1.8vw;
            font-weight: 500;
            font-family: "plain-regular";
        }
    }

    .page6-bottom{
        margin-left: 28%;
        margin-right: 5%;
        overflow:hidden;

        .underline{
            margin-top:0;
        }

        .copy{
            padding: 2.5vw 0;
            font-size: 1vw;
            font-family: "plain-light"
        }
    }
}


@keyframes marqueeanim {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}